@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
}

body{
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    background-color: black;
    color : white;
}

header{
    margin-top: 20px ;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem 9%;
    background-color: transparent;
    filter: drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 3rem;
    font-weight: 800;
    color: rgb(228, 15, 15);
    transition: 0.5s ease;
}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    margin-left: 4rem;
    color: white;
    margin-left: 4rem;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active{
    color: #b74b4b;
    border-bottom: 3px solid rgb(228, 15, 15);
}

@media(max-width:995px) {
    nav{
        position: absolute;
        top: 100%;
        left: 0;
        width: 40%;
        border-left: 3px solid rgb(0, 0, 255);
        border-bottom: 3px solid rgb(0, 0, 255);
        border-bottom-left-radius: 2rem;
        padding: 1rem;
        background-color: black;
        border-top: 0.1rem solid rgb(0, 0, 255);
      }

    nav.active{
        display: block;
    }

    nav a{
        display: block;
        margin: 3rem 0;
        font-size: 2rem;
    }

    nav a:hover,
    nav a.active{
        padding: 1rem;
        border: 0.5rem;
        border-bottom: 0.5rem solid rgb(228, 15, 15);

}
}

section.home{
   min-height: 100vh;
   padding: 5rem 9% 5rem;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8rem;
    background-color: black;
}

.home .home-content h1{
    font-size: 6rem;
    font-weight: 700;
    line-height: 1.3;
}

span{
    color: rgb(228, 15, 15);
}

.home-content h3{
    font-size: 4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}

.home-img{
    border-radius: 50%;
}

.home-img img{
    position: relative;
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s linear;
}

.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: 0.2rem solid red;
    font-size: 2rem;
    border-radius: 50%;
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease;
}

.social-icons a {
    color: rgb(255, 0, 0);
    transition: 0.3s ease;
}

.social-icons a:hover {
    transform: scale(1.3) translateY(-5px);
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.bth{
    display: inline-block;
    padding: 1rem 3rem;
    background-color: black;
    border-radius: 4rem;
    font-size: 2rem;
    color: red;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid rgb(141, 10, 10);
    transition: 0.3s ease;
    cursor: pointer;
}

.bth:hover{
    background-color: red;
    color: white;
    transform: scale3d(1.4);
    box-shadow: 0 0 25px rgb(255, 255, 255);
}

.typing-text {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.typing-text span {
    position: relative;
    color: red;
}

.typing-text span::before {
    content: "Software Developer";
    animation: words 12s infinite;
}

.typing-text span::after {
    content: "";
    position: absolute;
    width: 0; /* start invisible */
    height: 100%;
    background-color: black;
    border-left: 3px solid red;
    right: 0;
    animation: typing 3s steps(20) infinite, cursor .7s infinite;
}

/* blinking cursor */
@keyframes cursor {
    50% { border-color: transparent; }
}

/* typing animation */
@@keyframes typing {
    0% { width: 0; }         /* text hidden */
    40% { width: 100%; }     /* fully typed in */
    60% { width: 100%; }     /* pause */
    100% { width: 0; }       /* deleted */
}

/* changing words */
@keyframes words {
    0%,20% { content: "Software Dev"; }
    25%,45% { content: "Web Designer"; }
    50%,70% { content: "Pro"; }
    75%,100% { content: "Programmer"; }
}

@media(max-width:995px) {
    .home{
        flex-direction: column;
        text-align: center;
    }

    .home .home-content h1{
        font-size: 4rem;
    }

    .home .home-content h3{
        font-size: 3rem;
    }

    .home-img img{
        width: 300px;
        height: 300px;
    }
}S